<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTP_HOST} ^www\.bekup\.web\.id [NC]
  RewriteRule ^(.*)$ http://bekup.web.id/$1 [L,R=301]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# BEGIN Protect Against Script Injections

# Options +FollowSymLinks
# RewriteEngine On
# Rewritecond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
# Rewritecond %{QUERY_STRING} GLOBALS(=|[|%[0-9A-Z]{0,2}) [OR]
# Rewritecond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2})
# RewriteRule ^(.*)$ index.volt [F,L]

# END Protect Against Script Injections

#deny from cfs2.uzone.id
