.errorssu {
    background: #ffd761;
    color: #6b6b6b;
    padding: 20px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #f9ba00;
}

.diloma {
    background: #e7543b;
    color: #fff;
    display: -webkit-inline-box;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-bottom: 0px !important;
    position: relative;
    bottom: 32px;
    right: 4px;
    font-size: 12px;
}

.keterangan {
    padding-left: 59px;
    padding-right: 59px;
    color: #a0a0a0;
    font-size: 11px;
    bottom: 29px;
    position: relative;
}