<div class="backg">

  <loading v-show="loading"></loading>
  
  <section class="content">
    <error-flash v-bind:error="error" v-bind:err_msg="err_msg"/>
     
    <div v-if="!success">
      <div style="max-width: 400px;width: 100%;;margin: 0 auto;background: transparent !important;margin-top: 200px">
        <div style="padding: 0px 43px 19px 61px;color: #5d5d5d;">
          <h2 style="text-align: center;margin-bottom: 30px">Reset Password</h2>
          Isi dengan email yang terdaftar pada MIKTI Start. Kami akan mengirimkan cara melakukan reset password ke email anda
        </div>
        <div class="login-form-1">
          <div class="main-login-form">
            <div class="login-group">
              <div class="form-group">
                <label for="fp_email" class="sr-only">Email address</label>
                <input type="text" class="form-control" id="fp_email" name="fp_email" v-model="obj.email" placeholder="alamat email">
              </div>
            </div>
            <button type="submit" class="login-button" @click="resetPassword()"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
      
    <div v-else>
         
        <div id="wrapcontain">
             <div id="success-box">
                <div class="dot"></div>
                <div class="dot two"></div>
                <div class="face">
<!--
                  <div class="eye"></div>
                  <div class="eye right"></div>
                  <div class="mouth happy"></div>
-->
                  <i class="fa fa-envelope-open-o mailpos"></i>
                </div>
                
                <div class="shadow scale"></div>
                <div class="message"><sc class="alertinfo">Success!</sc><h4 style="color: #565656;font-size:12px">Reset Password Link has been send to your email</h4></div>
                <router-link :to="'/'">
                    <button class="button-box"><sc class="green">login</sc></button>
                </router-link>
              </div>
        </div>
    </div>  
    
  </section>
</div>