<div>

  <loading v-show="loading"></loading>

  <section class="content">

    <error-flash v-bind:error="error" v-bind:success="success" v-bind:err_msg="err_msg" />

    <div class="box">
      <div class="box-body">

        <table class="table" v-if="data.list.length > 0 ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phase Plan</th>
              <th>Start Period</th>
              <th>End Period</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in data.list">
              <td>{{data.name}}</td>
              <td>{{data.phase_plan.name}}</td>
              <td>{{data.start_period | moment("dddd, Do MMMM YYYY")}}</td>
              <td>{{data.end_period | moment("dddd, Do MMMM YYYY")}}</td>
              <td><a class="btn btn-warning btn-sm" @click="changePeriod(data)"><i class="fa fa-calendar"></i> Change
                  Period</a></td>
              <td>
                <router-link class="btn btn-primary btn-sm"
                  :to="'/coordinator/programme/'+ programmeId +'/phase/'+ data.id+ '/mentoring'"><i
                    class="fa fa-asterisk  "></i> Mentoring</router-link>
              </td>
              <td>
                <router-link class="btn btn-primary btn-sm"
                  :to="'/coordinator/programme/'+ programmeId +'/phase/'+ data.id+ '/scoring'"><i
                    class="fa fa-envelope-o"></i> Scoring</router-link>
              </td>
              <td>
                <router-link class="btn btn-primary btn-sm"
                  :to="'/coordinator/programme/'+ programmeId +'/phase/'+ data.id+ '/workshop'"><i
                    class="fa fa-briefcase"></i> Workshop</router-link>
              </td>
              <td><a class="btn btn-default btn-sm" @click="summary(data.id)"><i class="fa fa-shield"></i> Summary</a>
              </td>

            </tr>
          </tbody>
        </table>
        <div v-else>
          <h4 style="text-align: center;">No Phase Yet</h4>
        </div>

      </div>
    </div>

    <!--summary section-->

    <div class="box" v-if="showSummarySection">
      <div class="box-body">

        <a class="btn btn-warning btn-sm" @click="showSummarySection = false"><i class="fa fa-close"></i> Close </a>

        <table class="table" v-if="summaryData.length > 0 ">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Status</th>
              <th>Current Phase</th>
              <th>Phase Plan</th>
              <th>Score Recap</th>

            </tr>
          </thead>
          <tbody>
            <tr v-for="data in summaryData">
              <td>{{data.participant.team.name}}</td>
              <td>{{data.participant.status}}</td>
              <td>{{data.participant.current_phase.name}}</td>
              <td>{{data.participant.current_phase.phase_plan.name}}</td>
              <td>
                <template v-if="data.score_recap === 0">
                  <i>-</i>
                </template>
                <template v-else>
                  <b> {{bagiSeratus(data.score_recap)}} </b>
                </template></td>
            </tr>
          </tbody>
        </table>
        <div v-else>
          <h4 style="text-align: center;">No Recap Yet</h4>
        </div>
        <!--{{summaryData}}-->
      </div>
    </div>

    <!--end summary section-->

  </section>

  <period v-bind:programmeid="programmeId" v-bind:phasedata="phaseData" v-if="showForm" @close="showForm = false"
    @closemodal="closeModalRefresh"></period>

</div>