
<div>
 <header class="main-header">
	<a href="#" class="logo" style="text-decoration: none;">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" style="position: fixed;margin-left: 4px;"><span style="font-weight: 600;">M</span></span>
      <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" style="position: fixed;margin-left: 57px;"><img class="lgdsktp" src="/img/logolampu-70x70.png" alt="Logo Mikti"> <span style="font-weight: 600;">MIKTI</span></span>
    </a>

	
      <!-- Header Navbar -->
      <nav class="navbar navbar-fixed-top" role="navigation" style="border: 1px solid #e4e4e4;">
        <!-- Sidebar toggle button-->
        <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages-->
            <li>
            <a style="cursor:pointer;" data-toggle="modal" data-target=".logoutadminmodal"><i class="fa fa-sign-out"></i></a>
			<!-- add data-toggle="control-sidebar" if u want to add left sidebar  -->
			<!-- Modal  -->
			  <div class="modal fade logoutadminmodal" tabindex="-1" role="dialog" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
					<div class="modal-content">
					  <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
					  <div class="modal-body">
              <!-- <i class="fa fa-question-circle">&nbsp;</i>  -->
              Apakah anda yakin ingin keluar dari aplikasi?</div>
					  <div class="modal-footer"><button v-on:click="logout()" style="cursor:pointer;" v-if="checkLogin" class="btn tombollogout btn-block">Logout</button></div>
					</div>
				  </div>
			  </div>
			<!-- modal -->
          </li>
            <!-- /.messages-menu -->
  
            <!-- Notifications Menu -->
            
  
            <!-- Tasks Menu -->
            
  
          </ul>
        </div>
      </nav>
    </header>  
 <!-- Left side column. contains the logo and sidebar -->
  <sidebar />
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">   
      <h1>
        <a v-if="$route.name.toUpperCase() != 'DASHBOARD'" style="cursor:pointer" @click="$router.go(-1)"><i class="fa fa-arrow-circle-left"></i></a>
          {{$route.name.toUpperCase() }}
        <small>{{ $route.meta.description }}</small>
      </h1>
      <ol class="breadcrumb">
        <li>
<!--          <a href="javascript:;">
            <i class="fa fa-home"></i>Home</a>-->
            <i class="fa fa-home"></i> <router-link v-bind:to="'/talent/dashboard'">Beranda</router-link>
        </li>
        <li class="active">{{$route.name.toUpperCase()}}</li>
      </ol>
    </div>
    
    <transition name="fade">
      <router-view></router-view>
    </transition>
    
  </div>
  <!-- /.content-wrapper -->
  
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <span style="font-size:12px;">&copy;
        <a href="javascript:;" style="color:#8bc751 !important">MIKTI</a> - Innovation 
        <span style="color:#dedede">Ver 2.3.22</span></span>
<!--
        <span style="font-size:12px;"> | Troubleshooting : <span style="color:#8bc751">support@bekup.web.id</span> 
          | <a href="https://wa.me/6281319420262" target="_blank"><i class="fa fa-whatsapp "> Chat Technical Support (081319420262) </i></a>
          | <a href="https://wa.me/628988256662" target="_blank"><i class="fa fa-whatsapp "> Chat PR BEKUP 2018 (08988256662) </i></a>
        </span>
-->
    </footer>
</div>

