
<div>
 <header class="main-header">
	<a href="#" class="logo" style="text-decoration: none;">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><span style="font-weight: 600;">B</span></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">innov.id</span>
    </a>

	
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages-->
            <li>
            <a style="cursor:pointer;" data-toggle="modal" data-target=".logoutadminmodal"><i class="fa fa-sign-out"></i></a>
			<!-- add data-toggle="control-sidebar" if u want to add left sidebar  -->
			<!-- Modal  -->
			  <div class="modal fade logoutadminmodal" tabindex="-1" role="dialog" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
					<div class="modal-content">
					  <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
					  <div class="modal-body"><i class="fa fa-question-circle">&nbsp;</i> Are you sure you want to log-off?</div>
					  <div class="modal-footer"><button v-on:click="logout()" style="cursor:pointer;" v-if="checkLogin" class="btn tombollogout btn-block">Logout</button></div>
					</div>
				  </div>
			  </div>
			<!-- modal -->
          </li>
            <!-- /.messages-menu -->
  
            <!-- Notifications Menu -->
            
  
            <!-- Tasks Menu -->
            
  
          </ul>
        </div>
      </nav>
    </header>  
 <!-- Left side column. contains the logo and sidebar -->
  <sidebar />
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <a style="cursor:pointer" @click="$router.go(-1)"><i class="fa fa-arrow-circle-left"></i></a>
        {{$route.name.toUpperCase() }}
        <small>{{ $route.meta.description }}</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="javascript:;">
            <i class="fa fa-home"></i>Home</a>
        </li>
        <li class="active">{{$route.name.toUpperCase()}}</li>
      </ol>
    </section>
    
    <transition name="fade">
      <router-view></router-view>
    </transition>
    
  </div>
  <!-- /.content-wrapper -->
  
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <span style="font-size:12px;">&copy;
        <a href="javascript:;" style="color:#8bc751 !important">Innovation</a> -  <span style="color:#dedede">Ver 2.3.22</span></span>
    </footer>
</div>