.regiscarddb {
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	height: 175px;
 }
  .regiscarddb .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 6px 6px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .regiscarddb .image img {
      width: 100%; }
  .regiscarddb .content-carddb {
    padding: 15px 15px 10px 15px; }
  .regiscarddb .header {
    padding: 20px 20px 0; }
  .regiscarddb .description {
    font-size: 16px;
    color: #66615b; }
  .regiscarddb h6 {
    font-size: 12px;
    margin: 0; }
  .regiscarddb .category,
  .regiscarddb label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px; }
    .regiscarddb .category i,
    .regiscarddb label i {
      font-size: 16px; }
  .regiscarddb label {
    font-size: 15px;
    margin-bottom: 5px; }
  .regiscarddb .title {
    margin: 0;
    color: #252422;
    font-weight: 300; }
  .regiscarddb .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px; }
  .regiscarddb .footer {
    padding: 0;
    line-height: 30px; }
    .regiscarddb .footer .legend {
      padding: 5px 0; }
    .regiscarddb .footer hr {
      margin-top: 5px;
      margin-bottom: 5px; }
  .regiscarddb .stats {
    color: #a9a9a9;
    font-weight: 300; }
    .regiscarddb .stats i {
      margin-right: 2px;
      min-width: 15px;
      display: inline-block; }
  .regiscarddb .footer div {
    display: inline-block; }
  .regiscarddb .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase; }
  .regiscarddb .author i {
    font-size: 14px; }
  .regiscarddb.regiscarddb-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute; }
  .regiscarddb .ct-chart {
    margin: 30px 0 30px;
    height: 245px; }
  .regiscarddb .table tbody td:first-child,
  .regiscarddb .table thead th:first-child {
    padding-left: 15px; }
  .regiscarddb .table tbody td:last-child,
  .regiscarddb .table thead th:last-child {
    padding-right: 15px; }
  .regiscarddb .alert {
    border-radius: 4px;
    position: relative; }
    .regiscarddb .alert.alert-with-icon {
      padding-left: 65px; }
  .regiscarddb .icon-big {
    font-size: 3em;
    min-height: 64px; }
  .regiscarddb .numbers {
    font-size: 20px;
    text-align: center;
	margin-top: 25px;
	}
    .regiscarddb .numbers p {
    margin: 0; 
	font-size: 15px;
    color: #949494;
	}
  .regiscarddb ul.team-members li {
    padding: 10px 0px; }
    .regiscarddb ul.team-members li:not(:last-child) {
      border-bottom: 1px solid #F1EAE0; }

.regiscarddb-user .image {
  border-radius: 8px 8px 0 0;
  height: 150px;
  position: relative;
  overflow: hidden; }
  .regiscarddb-user .image img {
    width: 100%; }
.regiscarddb-user .image-plain {
  height: 0;
  margin-top: 110px; }
.regiscarddb-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -65px; }
  .regiscarddb-user .author .title {
    color: #403D39; }
    .regiscarddb-user .author .title small {
      color: #ccc5b9; }
.regiscarddb-user .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px; }
  .regiscarddb-user .avatar.border-white {
    border: 5px solid #FFFFFF; }
  .regiscarddb-user .avatar.border-gray {
    border: 5px solid #ccc5b9; }
.regiscarddb-user .title {
  font-weight: 600;
  line-height: 24px; }
.regiscarddb-user .description {
  margin-top: 10px; }
.regiscarddb-user .content {
  min-height: 200px; }
.regiscarddb-user.regiscarddb-plain .avatar {
  height: 190px;
  width: 190px; }

.regiscarddb-map .map {
  height: 500px;
  padding-top: 20px; }
  .regiscarddb-map .map > div {
    height: 100%; }

.regiscarddb-user .footer,
.regiscarddb-price .footer {
  padding: 5px 15px 10px; }
.regiscarddb-user hr,
.regiscarddb-price hr {
  margin: 5px 15px; }

.regiscarddb-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0; }

  .regiscarddb-plain .image {
    border-radius: 4px; }

.regiscarddb .stats {
    color: #a9a9a9;
    font-weight: 300; }
	
.regiscarddb .stats i {
	margin-right: 2px;
	min-width: 15px;
	display: inline-block; }
	
.carddb {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1; }
  .carddb .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 6px 6px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .carddb .image img {
      width: 100%; }
  .carddb .content-carddb {
    padding: 15px 15px 10px 15px; }
  .carddb .header {
    padding: 20px 20px 0; }
  .carddb .description {
    font-size: 16px;
    color: #66615b; }
  .carddb h6 {
    font-size: 12px;
    margin: 0; }
  .carddb .category,
  .carddb label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px; }
    .carddb .category i,
    .carddb label i {
      font-size: 16px; }
  .carddb label {
    font-size: 15px;
    margin-bottom: 5px; }
  .carddb .title {
    margin: 0;
    color: #252422;
    font-weight: 300; }
  .carddb .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px; }
  .carddb .footer {
    padding: 0;
    line-height: 30px; }
    .carddb .footer .legend {
      padding: 5px 0; }
    .carddb .footer hr {
      margin-top: 5px;
      margin-bottom: 5px; }
  .carddb .stats {
    color: #a9a9a9;
    font-weight: 300; }
    .carddb .stats i {
      margin-right: 2px;
      min-width: 15px;
      display: inline-block; }
  .carddb .footer div {
    display: inline-block; }
  .carddb .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase; }
  .carddb .author i {
    font-size: 14px; }
  .carddb.carddb-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute; }
  .carddb .ct-chart {
    margin: 30px 0 30px;
    height: 245px; }
  .carddb .table tbody td:first-child,
  .carddb .table thead th:first-child {
    padding-left: 15px; }
  .carddb .table tbody td:last-child,
  .carddb .table thead th:last-child {
    padding-right: 15px; }
  .carddb .alert {
    border-radius: 4px;
    position: relative; }
    .carddb .alert.alert-with-icon {
      padding-left: 65px; }
  .carddb .icon-big {
    font-size: 3em;
    min-height: 64px; }
  .carddb .numbers {
    font-size: 20px;
    text-align: right; }
    .carddb .numbers p {
    margin: 0; 
	font-size: 11px;
    color: #949494;
	}
  .carddb ul.team-members li {
    padding: 10px 0px; }
    .carddb ul.team-members li:not(:last-child) {
      border-bottom: 1px solid #F1EAE0; }

.carddb-user .image {
  border-radius: 8px 8px 0 0;
  height: 150px;
  position: relative;
  overflow: hidden; }
  .carddb-user .image img {
    width: 100%; }
.carddb-user .image-plain {
  height: 0;
  margin-top: 110px; }
.carddb-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -65px; }
  .carddb-user .author .title {
    color: #403D39; }
    .carddb-user .author .title small {
      color: #ccc5b9; }
.carddb-user .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px; }
  .carddb-user .avatar.border-white {
    border: 5px solid #FFFFFF; }
  .carddb-user .avatar.border-gray {
    border: 5px solid #ccc5b9; }
.carddb-user .title {
  font-weight: 600;
  line-height: 24px; }
.carddb-user .description {
  margin-top: 10px; }
.carddb-user .content {
  min-height: 200px; }
.carddb-user.carddb-plain .avatar {
  height: 190px;
  width: 190px; }

.carddb-map .map {
  height: 500px;
  padding-top: 20px; }
  .carddb-map .map > div {
    height: 100%; }

.carddb-user .footer,
.carddb-price .footer {
  padding: 5px 15px 10px; }
.carddb-user hr,
.carddb-price hr {
  margin: 5px 15px; }

.carddb-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0; }

  .carddb-plain .image {
    border-radius: 4px; }

.carddb .stats {
    color: #a9a9a9;
    font-weight: 300; }
	
.carddb .stats i {
	margin-right: 2px;
	min-width: 15px;
	display: inline-block; }

	
@media (min-width: 992px) {
	
  .regiscarddb form [class*="col-"] {
    padding: 6px; }
  .regiscarddb form [class*="col-"]:first-child {
    padding-left: 15px; }
  .regiscarddb form [class*="col-"]:last-child {
    padding-right: 15px; } 
	
}

.icon-bekup {
	color:#8bc751;
}

.info-a{
	color: #a9a9a9;
    text-decoration: none;
}

.info-a:hover{
	color: #8bc751;
    text-decoration: none;
}

.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px; }
  .footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal; }
    .footer nav ul li {
      display: inline-block;
      padding: 10px 15px;
      margin: 15px 3px;
      line-height: 20px;
      text-align: center; }
    .footer nav ul a:not(.btn) {
      color: #66615b;
      display: block;
      margin-bottom: 3px; }
      .footer nav ul a:not(.btn):focus, .footer nav ul a:not(.btn):hover {
        color: #403D39; }
  .footer .copyright {
    color: #66615b;
    padding: 10px 15px;
    font-size: 14px;
    white-space: nowrap;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center; }
  .footer .heart {
    color: #EB5E28; }