<div>

  <loading v-show="loading"></loading>

  <section class="content">

    <error-flash v-bind:error="error" v-bind:success="success" v-bind:err_msg="err_msg"/>

    <div class="box">
      <div class="box-body">

        <table class="table" v-if="data.total > 0 ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Session</th>
              <th>Max Session</th>
              <th>Max Team</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in data.list">
              <td>{{data.name}}</td>
              <td>{{data.start_date | moment("dddd, Do MMMM YYYY")}}</td>
              <td>{{data.end_date | moment("dddd, Do MMMM YYYY")}}</td>
              <td>{{data.session_duration}}</td>
              <td>{{data.max_session}}</td>
              <td>{{data.max_team_session}}</td>
              <!--<td>Participant Summary </td>-->
              <!--<td>Tutor Summary </td>-->
              <td><a class="btn btn-warning btn-sm" @click="changePeriod(data)"><i class="fa fa-calendar"></i> Change Period</a></td>

                           
          </tr>
          </tbody>
        </table>
        <div v-else>
          No Mentoring Yet
        </div>

        <!--{{data}}-->
      </div>  
    </div>  


  </section>

  <period v-bind:programmeid="programmeId" v-bind:phaseid="phaseId" v-bind:mentoringdata="mentoringData" v-if="showForm" @close="showForm = false" @closemodal="closeModalRefresh"></period>
  
</div>